<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<title>Collection of Confections</title>
</head>
<body>
    <nav>
        <a href="/confections" <%- title === 'Dessert Database' ? 'class="active"' : '' %>><img class="heart" src="https://i.imgur.com/OiNJt6i.gif" alt="heart">Dessert Database</a>
        <% if (user) { %>
          <a href="/confections/new" <%- title === 'Add Confection' ? 'class="active"' : '' %>>Add</a>
          <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png">oogle Login</a>
        <% } %>
    </nav>
<main>