<%- include('./partials/header') %>

<main>
  <h1>Welcome to the Collection of Confections</h1>
  <p>This is the homepage of the dessert database. Here, you can explore and add various confections from different countries.</p>
</main>

<%- include('./partials/footer') %>